<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RepresentativesDataAccess.Properties.Settings.RepresentativesConnectionString"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=Representatives;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>